In [4]:
import pandas as pd
import numpy as np
import re

all_df = pd.read_csv('(revised)nft_in_each_collections.csv', index_col=[0])
all_df.head()

,id,price,owner,collectionName,collectionTitle,title,propertyCategory,creators,attributes,properties,tokenDelegateValid,rarity,version
0,F6iQ92fh8xKHiH9FP1buvf8HRKpDzokTEP76W4YSqRe1,6.00,H8poh3jCsRKxMmQh88ZojG61tU7DVejoeHx8B2Yisq8o,lux_real_estate,LUX | Real Estate,LUX | Real Estate,video,[{'address': 'AGDBeUaKReqE3DdtWq6J9TRAarScBRhG...,"[{'trait_type': 'Unit Type', 'value': 'Apartme...",{'creators': [{'address': 'RRUMF9KYPcvNSmnicNM...,False,NaN,1
1,5VuXmx47uEnH1cP944VCBb8QWavo1vAtJYoxJXyhkpZ6,6.00,FeJKqEKi3ZszFC61oMReRBtKPNdHdKCJiekMw6LGJbg7,lux_real_estate,LUX | Real Estate,LUX | Real Estate,video,[{'address': 'AGDBeUaKReqE3DdtWq6J9TRAarScBRhG...,"[{'trait_type': 'Unit Type', 'value': 'Apartme...",{'creators': [{'address': 'RRUMF9KYPcvNSmnicNM...,False,NaN,1
2,BCj4VZ742aQiNXgvGJQQvufSsWxsiNsEyA7FjS6JJPTe,6.20,96LjHL6z5j7EmN2f9imgevNoYdjGZiducG6jHD5rMBBG,lux_real_estate,LUX | Real Estate,LUX | Real Estate,video,[{'address': 'AGDBeUaKReqE3DdtWq6J9TRAarScBRhG...,"[{'trait_type': 'Unit Type', 'value': 'Apartme...",{'creators': [{'address': 'RRUMF9KYPcvNSmnicNM...,False,NaN,1
3,9cRDL4YsPi5ftyg2HAkFgVmAKTApSvHp7wNprmVdYcmh,6.29,HfewggC1euXEbHjDsWfLZQ6fyEMWPrGAJnxgx1otKLyP,lux_real_estate,LUX | Real Estate,LUX | Real Estate,video,[{'address': 'AGDBeUaKReqE3DdtWq6J9TRAarScBRhG...,"[{'trait_type': 'Unit Type', 'value': 'Apartme...",{'creators': [{'address': 'RRUMF9KYPcvNSmnicNM...,False,NaN,1
4,22hgT7q3APxKLQU2K5AzBqqUGHoP9xaJ2frR5AUSu1X1,6.30,Q2ce28VtsxjWeEha23Pu1bs6XEbo2KKPyMVqnr1n46C,lux_real_estate,LUX | Real Estate,LUX | Real Estate,video,[{'address': 'AGDBeUaKReqE3DdtWq6J9TRAarScBRhG...,"[{'trait_type': 'Unit Type', 'value': 'Apartme...",{'creators': [{'address': 'RRUMF9KYPcvNSmnicNM...,False,NaN,1

In [5]:
def split_attribute(c_name):
        #pull out only data that match the collecion name
        collection_df = all_df[all_df['collectionName'] == c_name]
        # reset the index of the collection df
        collection_df = collection_df.reset_index()
        # print the list of row 1
        draft_trait_list=[]
        # loop through each cell under column 'attributes'
        for r in range(len(collection_df['attributes'])):
            # find all name after "trait_type"
            regex_results = re.findall(r"'trait_type': '([\w\s]+)'",collection_df['attributes'][r])
            draft_trait_list.append(regex_results)
            
        dup_trait_list=[]
        # remove the duplicate string in the list
        for i in draft_trait_list:
            if i not in dup_trait_list:
                dup_trait_list.append(i)
                
        # found the longest string with trait_type names, that will be out final name list
        max_len = -1
        for ele in dup_trait_list:
            if len(ele) > max_len:
                max_len = len(ele)
                final_trait_list = ele
        # check each cell in column 'attributes', make sure we have all trait_type input
        for x in range(len(collection_df['attributes'])):
            # check and see if current(i) trait_type exist
            for i, value in enumerate(final_trait_list):
                check_str = f"'trait_type': '{value}'"     
                # if trait_type not in this cell
                if check_str not in (collection_df['attributes'][x]):
                    print("---old----")
                    print(x)
#                     print(collection_df['attributes'][x])
                    print(f"check_str:{check_str}")
                    print("\n")
                    # split the current position
                    list_string = collection_df['attributes'][x].split('}')
        #             print(list_string)
                    # Add the trait_type, with value equal none
                    string_add = ", {'trait_type': '" + value + "', 'value': 'none'"
                    # insert the string as correct order as the trait_type list
                    list_string.insert(i, string_add)
                    # then closed the position
                    new_string = '}'.join(list_string)
                    #print(new_string)  
                    collection_df['attributes'][x] = new_string
                    print("---new---")
                    print(collection_df['attributes'][x])
                    print("---------------------\n")

        # return list, collection_df, and attribute_df
        return final_trait_list,collection_df

In [ ]:
def add_att(type_results,collection_df):
    att_list = []
    for cell_value in range(len(collection_df['attributes'])):
        change_list = re.sub(r'[{}]','',collection_df['attributes'][cell_value])
        value_results = re.findall(r"'value': '([\w\s]+)'",change_list)                              
        att_list.append(value_results)
        print("----value list----")
        print("\n")
        print(att_list)   
    print(len(att_list))
#     att_df = pd.DataFrame(att_list)
#     col_list = list(att_df)
#     for x in range(len(type_results)):
#         att_df.rename(columns={col_list[x]:type_results[x]},inplace=True)
#     collection_df = collection_df.merge(att_df, how='outer',left_index=True,right_index=True)
#     collection_df = collection_df.drop(columns='index')
    
    return att_list
# att_df, collection_df

### almost_famous_pandas

In [2]:
almost_famous_pandas = 'almost_famous_pandas'

In [3]:
col_df = all_df[all_df['collectionName'] == almost_famous_pandas]
col_df = col_df.reset_index()
draft_trait_list=[]
for r in range(len(col_df['attributes'])):
            # find all name after "trait_type"
            regex_results = re.findall(r"'trait_type': '([\w\s]+)'",col_df['attributes'][r])
            draft_trait_list.append(regex_results)
#             print("regex_result: \n", regex_results, "\n")
            
dup_trait_list=[]
# remove the duplicate string in the list
for i in draft_trait_list:
    if i not in dup_trait_list:
        dup_trait_list.append(i)
print("dup_trait_list: \n", dup_trait_list, "\n")
                
# found the longest string with trait_type names, that will be out final name list
max_len = -1
for ele in dup_trait_list:
    if len(ele) > max_len:
        max_len = len(ele)
        final_trait_list = ele

print("final_trait_list: \n", final_trait_list)
#return the list of trait_type name

dup_trait_list:
 [['Outfit', 'Head', 'Glasses', 'Eyes', 'Extras', 'Skin', 'Mouth', 'Body', 'Background', 'Face']]

final_trait_list:
 ['Outfit', 'Head', 'Glasses', 'Eyes', 'Extras', 'Skin', 'Mouth', 'Body', 'Background', 'Face']

In [4]:
col_df['attributes']

0       [{'trait_type': 'Outfit', 'value': 'None'}, {'...
1       [{'trait_type': 'Outfit', 'value': 'Red Sweate...
2       [{'trait_type': 'Outfit', 'value': 'White Beat...
3       [{'trait_type': 'Outfit', 'value': 'Black Susp...
4       [{'trait_type': 'Outfit', 'value': 'Double-Bre...
                              ...
6070    [{'trait_type': 'Outfit', 'value': 'Green Susp...
6071    [{'trait_type': 'Outfit', 'value': 'Blanket'},...
6072    [{'trait_type': 'Outfit', 'value': 'Big Grey S...
6073    [{'trait_type': 'Outfit', 'value': 'Yellow Swi...
6074    [{'trait_type': 'Outfit', 'value': 'Diamond Dr...
Name: attributes, Length: 6075, dtype: object

In [5]:
for cell_count in range(len(col_df['attributes'])):
    #check and see if current(i) trait_type existed
    for i, trait_name in enumerate(final_trait_list):
        check_str = f"'trait_type': '{trait_name}'"
        #if trait_type not in cell, add trait_type with value=none
        if check_str not in (col_df['attributes'][cell_count]):
            split_cell = col_df['attributes'][cell_count].split('}')
            # add the trait_type
            missing_trait_add = ", {'trait_type': '" + value + "', 'value': 'none'"
            # insert the string as correct order as the final_trait_list
            split_cell.insert(i,missing_trait_add)
            # re-add the "}"
            trait_revised = '}'.join(split_cell)
            col_df['attributes'][cell_count] = trait_reivsed

col_df['attributes']

0       [{'trait_type': 'Outfit', 'value': 'None'}, {'...
1       [{'trait_type': 'Outfit', 'value': 'Red Sweate...
2       [{'trait_type': 'Outfit', 'value': 'White Beat...
3       [{'trait_type': 'Outfit', 'value': 'Black Susp...
4       [{'trait_type': 'Outfit', 'value': 'Double-Bre...
                              ...
6070    [{'trait_type': 'Outfit', 'value': 'Green Susp...
6071    [{'trait_type': 'Outfit', 'value': 'Blanket'},...
6072    [{'trait_type': 'Outfit', 'value': 'Big Grey S...
6073    [{'trait_type': 'Outfit', 'value': 'Yellow Swi...
6074    [{'trait_type': 'Outfit', 'value': 'Diamond Dr...
Name: attributes, Length: 6075, dtype: object

In [ ]:
deli_att_list = col_df['attributes'].str.split(',',expand=False)
# print(deli_att_list)
# print(deli_att_list[1])
# print("----split by comma(,) test deli_att_list[0]:---- \n",deli_att_list[0],"\n",len(deli_att_list),"\n")
# print("----test it deli_att_list[0][2]: ---- \n", deli_att_list[0][2], "\n")

type_value_list=[]
type_string = "'trait_type':"
value_string = "'value':"

for row_count in range(len(deli_att_list)):
    #print(deli_att_list[row_count])
    for position_count in range(len(deli_att_list[row_count])):
        #print(deli_att_list[row_count][position_count])
        if(type_string) in (deli_att_list[row_count][position_count]):
            #print("type_string existed!")
            type_value_list.append(deli_att_list[row_count][position_count])   
        elif(value_string) in deli_att_list[row_count]:
            type_value_list.append(deli_att_list[row_count][position_count])
    
    delimiter = ","
    rejoin_string = delimiter.join(type_value_list)
    deli_att_list[row_count] = rejoin_string
          
            
#             print(type_value_list)

#print(deli_att_list[0][1])

In [ ]:
att_df = deli_att_list.str.split(',',expand=True)

In [ ]:
new_string=[]
type_string="'trait_type':"
value_string="'value':"

for x in range(len(new_test_df[0])):
    if (type_string) in new_test_df[0][x]:
        new_string.append(new_test_df[0][x]) 
    elif(value_string)in new_test_df[0][x]:
        new_string.append(new_test_df[0][x])
    
print(new_string)
print("\n")

deli = ","
full_string = deli.join(new_string)

print(full_string)

new_test_df[0] = full_string
print("\n")
print(new_test_df[0])


full_test_df = new_test_df.str.split(',', expand=True)
display(full_test_df)

## test

In [1]:
cname = 'magnum_ai'
test_df = all_df[all_df['collectionName'] == cname]
test_df = test_df.reset_index()
# print(test_df['attributes'][0])
# print("-------")
new_test_df = test_df['attributes'].str.split(',', expand=False)
print(new_test_df[0])
print("\n")
print(len(new_test_df[0]))

NameError: name 'all_df' is not defined

In [ ]:
new_test_df[0][2]

In [2]:
new_string=[]
type_string="'trait_type':"
value_string="'value':"

for x in range(len(new_test_df[0])):
    if (type_string) in new_test_df[0][x]:
        new_string.append(new_test_df[0][x]) 
    elif(value_string)in new_test_df[0][x]:
        new_string.append(new_test_df[0][x])
    
print(new_string)
print("\n")

deli = ","
full_string = deli.join(new_string)

print(full_string)

new_test_df[0] = full_string
print("\n")
print(new_test_df[0])


full_test_df = new_test_df.str.split(',', expand=True)
display(full_test_df)

NameError: name 'new_test_df' is not defined

In [3]:
new_test_df[0]

NameError: name 'new_test_df' is not defined

In [ ]:
(new_test_df[0] )

In [ ]:
#list[0] = column name
#list[1] = collection_df
#list[2] = attribute_df

afp_list = split_attribute(almost_famous_pandas)
afp_list

In [ ]:
afp_name = ['Trait_Outfit','Trait_Head','Trait_Glasses','Trait_Eyes','Trait_Extras','Trait_Skin','Trait_Mouth','Trait_Body','Trait_Background','Trait_Face']

In [ ]:
afp_df = add_att(afp_name,afp_list[1])
# print(afp_df.shape)
# display(afp_df.head())
# display(afp_df.columns)

In [ ]:
afp_df[0]

In [ ]:
afp_df[1]

In [ ]:
afp_df[1].to_csv('check_almost_famous_pandas.csv')

### magicticket

In [ ]:
magicticket = 'magicticket'

#list[0] = column name
#list[1] = collection_df
#list[2] = attribute_df

magicticket_list = split_attribute(magicticket)
magicticket_list

In [ ]:
magicticket_name = ['Trait_Level','Trait_Tier']
magicticket_df = add_att(magicticket_name,magicticket_list[1],magicticket_list[2])
print(magicticket_df.shape)
display(magicticket_df.head())
display(magicticket_df.columns)

In [ ]:
magicticket_df.to_csv('cleaned_magicticket.csv')

### guild_saga_heroes

In [ ]:
guild_saga_heroes = 'guild_saga_heroes'
#list[0] = column name
#list[1] = collection_df
#list[2] = attribute_df

    
guild_saga_heroes_list = split_attribute(guild_saga_heroes)
guild_saga_heroes_list

In [ ]:
guild_saga_heroes_name = ['Trait_Rarity_Level','Trait_Race','Trait_Gender','Trait_Hair','Trait_Eyes','Trait_Head','Trait_Clothing','Trait_Back','Trait_Neck','Trait_Hands','Trait_Waist','Trait_Finger_Left','Trait_Finger_Right','Trait_Feet','Trait_Mainhand_weapon','Trait_Offhand_weapon','Trait_Trinket','Trait_Background']
print(len(guild_saga_heroes_name))

In [ ]:
guild_saga_heroes_df = add_att(guild_saga_heroes_name,guild_saga_heroes_list[1],guild_saga_heroes_list[2])
print(guild_saga_heroes_df.shape)
display(guild_saga_heroes_df.head())
display(guild_saga_heroes_df.columns)

In [ ]:
guild_saga_heroes_df.to_csv('cleaned_guild_saga_heroes.csv')

### monkelabs_dao

In [ ]:
monkelabs_dao = 'monkelabs_dao'
#list[0] = column name
#list[1] = collection_df
#list[2] = attribute_df

monkelabs_dao_list = split_attribute(monkelabs_dao)
monkelabs_dao_list

In [ ]:
monkelabs_dao_name = ['Trait_Background','Trait_Body','Trait_Clothes','Trait_Eyes','Trait_Head','Trait_Mouth']
print(len(monkelabs_dao_name))

In [ ]:
monkelabs_dao_df = add_att(monkelabs_dao_name,monkelabs_dao_list[1],monkelabs_dao_list[2])
print(monkelabs_dao_df.shape)
display(monkelabs_dao_df.head())
display(monkelabs_dao_df.columns)

In [ ]:
monkelabs_dao_df.to_csv('cleaned_monkelabs_dao.csv')

### galactic_geckos

In [ ]:
# galactic_geckos = 'galactic_geckos'

# #list[0] = column name
# #list[1] = collection_df
# #list[2] = attribute_df

# def split_geckos(c_name):
#         #pull out only data that match the collecion name
#         collection_df = all_df[all_df['collectionName'] == c_name]
#         collection_df = collection_df.fillna("unknown")
#         # split trait_type and trait_value into separate columns
#         split_att_df = collection_df['attributes'].str.split(',', expand=True)
#         # print the list of row 1
#         col_name_list = split_att_df.iloc[0]
#         # only keep the value columns in attribute_df
#         split_att_df = split_att_df.loc[:, np.arange(len(split_att_df.columns)) %3 != 0]
#         # use regular expression to clean ('value') and non word characters
#         split_att_df = split_att_df.replace({'(\'value\')?(\'trait_count\')?(\W)':''}, regex=True)
#         col_drop = [16,17]
# #         split_att_df = split_att_df.drop(columns=split_att_df[])
#         # return list, collection_df, and attribute_df
#         return col_name_list,collection_df, split_att_df

# galactic_geckos_list = split_geckos(galactic_geckos)
# galactic_geckos_list

In [ ]:
# galactic_geckos_name = ['Trait_]
# print(len(galactic_geckos_name))

In [ ]:
# def add_att_geckos(trait_list,collection_df,att_df):
#     #list of column name of current attribute_df
#     col_list = list(att_df)
#     # change the column name of attribute_df 
#     for x in range(len(col_list)):
#         att_df.rename(columns={col_list[x]:trait_list[x]}, inplace=True)
    
#     # Drop orginal attribute columns of collection_df
#     collection_df = collection_df.drop(columns=['attributes'])
    
#     #use index as join key to join collection_df and attribute_df
#     collection_df = collection_df.merge(att_df, how='outer',left_index=True,right_index=True)
    
#     #Reset index
#     collection_df = collection_df.reset_index()
#     collection_df = collection_df.drop(columns='index')
#     return collection_df

In [ ]:
# galactic_geckos_df = add_att_geckos(galactic_geckos_name,galactic_geckos_list[1],galactic_geckos_list[2])
# print(galactic_geckos_df.shape)
# display(galactic_geckos_df.head())
# display(galactic_geckos_df.columns)

In [ ]:
# galactic_geckos_df.to_csv('cleaned_galactic_geckos.csv')

### magnum_ai

In [ ]:
magnum_ai = 'magnum_ai'

#list[0] = column name
#list[1] = collection_df
#list[2] = attribute_df

magnum_ai_list = split_attribute(magnum_ai)
magnum_ai_list

In [ ]:
magnum_ai_name = ['Trait_Background','Trait_Body','Trait_Face','Trait_Costume','Trait_Face_Gear','Trait_Glasses','Trait_Headgear']
print(len(magnum_ai_name))

In [ ]:
magnum_ai_df = add_att(magnum_ai_name,magnum_ai_list[1],magnum_ai_list[2])
print(magnum_ai_df.shape)
display(magnum_ai_df.head())
display(magnum_ai_df.columns)

In [ ]:
magnum_ai_df.to_csv('cleaned_magnum_ai.csv')

### degenerate_ape_academy

In [ ]:
degenerate_ape_academy = 'degenerate_ape_academy'

def split_daa(c_name):
        #pull out only data that match the collecion name
        collection_df = all_df[all_df['collectionName'] == c_name]
        # split trait_type and trait_value into separate columns
        split_att_df = collection_df['attributes'].str.split(',', expand=True)
        split_att_df = split_att_df.drop(columns=[14,15,16,17,18,19])

        # print the list of row 1
        col_name_list = split_att_df.iloc[0]
        # only keep the value columns in attribute_df
        split_att_df = split_att_df.loc[:, np.arange(len(split_att_df.columns)) %2 != 0]
        # use regular expression to clean ('value') and non word characters
        split_att_df = split_att_df.replace({'(\'value\')?(\W)':''}, regex=True)
        # return list, collection_df, and attribute_df
        return col_name_list,collection_df, split_att_df

In [ ]:
#list[0] = column name
#list[1] = collection_df
#list[2] = attribute_df

degenerate_ape_academy_list = split_daa(degenerate_ape_academy)
degenerate_ape_academy_list

In [ ]:
degenerate_ape_academy_name = ['Trait_Background',
                               'Trait_Fur_Skin',
                               'Trait_Head',
                               'Trait_Mouth',
                               'Trait_Teeth',
                               'Trait_Clothing',
                               'Trait_Eyewear']

In [ ]:
print(len(degenerate_ape_academy_name))

In [ ]:
degenerate_ape_academy_df = add_att(degenerate_ape_academy_name,degenerate_ape_academy_list[1],degenerate_ape_academy_list[2])
print(degenerate_ape_academy_df.shape)
display(degenerate_ape_academy_df.head())
display(degenerate_ape_academy_df.columns)

In [ ]:
degenerate_ape_academy_df.to_csv('cleaned_degenerate_ape_academy.csv')